@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>

<form asp-action="ForgetPassword" method="post">
	<div class="text-danger" asp-validation-summary="All"></div>

	<span class="login100-form-title p-b-34 p-t-27">
		Forget Password
	</span>



	<div class="wrap-input100">
		<input class="input100 form-control" type="email" asp-for="Email" placeholder="Email">
		<span class="focus-input100" data-placeholder="&#xf207;" asp-validation-for="Email"></span>
	</div>
		<input type="submit" value="Reset Password">
	</form>
