@model RoleViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Role">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name ="PartialViews/CreateEditPartialView" model="@Model"/>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>
        </form>
    </div>
</div>


