@model RoleViewModel
@{
    ViewData["Title"] = "Update";
}

<h1> Update Role</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="Role">
            <input hidden asp-for="Id"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="PartialViews/CreateEditPartialView" model="@Model" />

            @if (Model?.Id != null)
            {
                <div class="my-3">
                    <a class="btn btn-info" asp-action="AddorRemoveUsers" asp-controller="Role" asp-route-roleId="@Model.Id">Add or Remove Users</a>
                </div>
            }

            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back to List</a>
        </form>
    </div>
</div>


